@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4">Welcome to Our Food Delivery Service!</h1>
        <p class="lead">Delicious meals delivered to your doorstep. Browse our menu and place an order today.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dish")">View Menu</a>
    </div>
</div>
